{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Календарь уроков</h1>
    <div id="calendar"></div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            console.log(`${{ lessons }}`);
            var events = [
                {% for lesson in lessons %}
                    {
                        title: "{{ lesson.title }}",
                        start: '{{ lesson.date }}T{{ lesson.time_start }}',
                        end: '{{ lesson.date }}T{{ lesson.time_finish }}'
                    },
                {% endfor %}
            ];

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: events,
            });

            calendar.render();
        });
    </script>
{% endblock %}